<p>Dear Dr/Mr {{ sname }},</p>
<br><br>
<p>We are glad to inform you that you have been selected for a Presentation infornt of Panel Members for GEARS 2.0. In this regard,
    We would like to request you to participate in the online presentation along with your presentation on [Date]. Your presentation should be detailed, constructive.
</p>
<br>
Online Presentation Link
<a href="{{ zmeet }}" target="_blank">{{ zmeet }}</a> on Date: {{ sdate }}
<br><br>

<p>You may contact us at 08912840204 or gears_support@gitam.edu if you have any questions or need any clarifications on
    them.</p>
<br><br>
<p>Thanks and Regards,</p>
<br>
<p>Gears Team</p>

