<p>Dear Dr/Mr {{ panelmember }},</p>
<br><br>
<p>We are glad to inform you that you have been selected as a Panel Member for GEARS 2.0. In this regard, we have assigned you some presentations submitted by research scholars in your area of expertise. We would like to request you to participate in the online presentation on [Date] and provide your feedback at the given link below. Your feedback should be detailed, constructive with appropriate recommendations and marks.</p>

<br>
<p>Paper Title: <strong>{{ ptitle }}</strong></p>
<br><br>
Online Presentation Link
<br>
<a href="{{ zmeet }}" target="_blank">{{ zmeet }}</a> on Date: {{ sdate }}

<br>
<p>Kindly login to the link <span><a href="https://gears.gitam.edu">https://gears.gitam.edu</a></span> and review the proposal. </p>
<br>


<p>Upon receipt of your comments, we will be carrying out the further steps.</p>
<p>You may contact us at 08912840204 or gears_support@gitam.edu if you have any questions or need any clarifications on
    them.</p>
<p>The overall recommendation:
    Accept in present form, when the paper needs no further changes.
    Reject, when the article is not accepted for publication due to either major flaws or lack of originality. No offer
    of resubmission to the Conference will be made.</p>
<br><br><br>
<p>Thanks and Regards,</p>
<br>
<p>Gears Team</p>
