<p>Dear Dr/Mr {{ scholar_name }},</p>
<br><br>
<p>We are glad to inform you that your paper has been approved for Panel Presentation for GEARS 2.0. In this regard,
    you would get a mail with the detailed link for the presentation in front of panel members soon.</p>

<br>
<p>Paper Title: <strong>{{ prop_title }}</strong></p>
<br><br>

<p>You may contact us at 08912840204 or gears_support@gitam.edu if you have any questions or need any clarifications on
    them.</p>
<br><br>
<p>Thanks and Regards,</p>
<br>
<p>Gears Team</p>
