 <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-between">
                            <img src="/static/img/GITAM-logo.png" alt="GITAM_logo" class="gitam_logo"/>
                            <div class="sa-menu">
                                <ul class="d-flex align-items-center">
                                    <li> <a href="/addreviewer"> Reviewers </a></li>
                                    <li><a href="/addpanelmember"> PanelMembers </a></li>
                                    <li><a href="/sa"> Admin </a></li>
                                    <li><a href="/results">Results</a></li>

                                    <li><a href="/logout"><button class="sa_btn">
                                            <span>Logout</span>
                                            <img src="/static/img/log_out.png" alt="log_out" />
                                        </button></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>